<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/index.css">
     <link rel="icon" href="img/cloud.png">
</head>
<body>

    <div class="main-content">
        <h1 >{{title}}</h1>
        {{>header}}
    </div>

    
    {{>footer}} 
</body>
</html>