<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="img/cloud.png">
    <script src="/js/js.js" > </script>
</head>
<body>
    
    <div class="main-content">
        <h1 >{{title}}</h1>
        <p>{{location}}</p>
        {{>header}}
    </div>

    
    {{>footer}} 
</body>
</html>